 1. Obtener todos los datos de todos los empleados.

```python
%%sql
SELECT * FROM emp;
```

2. Obtener todos los datos de todos los departamentos.

```python
%%sql
SELECT * FROM dept;
```

3. Obtener todos los datos de los administrativos (su trabajo es, en ingl´es, ’CLERK’).

```python
%%sql
select * from emp where job = "clerk";
```

4. Idem, pero ordenado por el nombre.

```python
%%sql
 select * from emp where job = "clerk" group by ename;
 ```

5. Obten el mismo resultado de la pregunta anterior, pero modificando la sentencia SQL.

select * from job


```python
%%sql
 ```

 65-. Obten los empleados del departamento 10 que tienen el 
 mismo empleo que alguien del departamento de Ventas. Desconocemos el c´odigo de dicho departamento.

```python
%%sql
SELECT * FROM emp 
WHERE deptno = 10
and job in (
    SELECT job FROM emp 
    WHERE deptno = (
        SELECT deptno FROM dept 
        WHERE dname = 'SALES'
    )
);
```

-- 66. Halla los empleados que tienen por lo menos un empleado a su mando, ordenados inversamente
-- por nombre.

```python
%%sql
SELECT * FROM emp e
JOIN dept d ON e.deptno = d.deptno;
```

-- 67. Obt´en informaci´on sobre los empleados que tienen el mismo trabajo que que alg´un empleado
 que trabaje en Chicago.
```python
%%sql
SELECT * FROM emp e
join dept d ON e.deptno = d.deptno
where d.loc = 'CHICAGO';

select * from emp
where job in (
    select job from emp
    where deptno = (
        select deptno from dept
        where loc = 'CHICAGO'
    )
);
```


-- 70 todos lso departamentos sin empleados
```python
%%sql
Select * from dept d
where d.deptno NOT IN (
    select e.deptno from emp e
);
```

```python
%%sql
    select * from emp e join dept d on e.deptno = d.deptno;

```

71. Halla los empleados que no tienen a otro empleado a sus ´ordenes.

SELECT * FROM emp